.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gakubuti {
  position: relative;
  width: 100%;
  height: 55rem;
}

.loader {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0.75;
}

.nowlocading {
  margin-top: 1rem;
  color: white;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.buttom {
  line-height: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0.5rem;
  font-size: 1.125rem;
  color: rgba(255, 255, 255);
  transition-property: color, background-color, border, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background-color: blue;
  border-radius: 0.5rem;
}

.buttomflex {
  display: flex;
}