/*==================================== 地図コンテナ ====================================*/
/* leafletの地図用コンテナ */
.leaflet-container {
  position: relative;
  /* 相対位置 */
  inset: 0;
  /* 地図の配置 */

  width: inherit;
  /* 地図の表示幅 */
  height: 90vh;
  /* 地図の表示高さ */

  cursor: var(--map-cursor) !important;
  /* 地図上のマウスカーソル */

  z-index: 999;
  /* 重なり優先度高め */
}


/*==================================== ロード中の表示 ====================================*/
/* ロード中の画面 */
.loader {
  position: absolute;
  /* 絶対位置 */
  inset: 0;
  /* 配置 */
  display: flex;
  /* flexで横並び */
  flex-direction: column;
  /* 縦並びに変更 */
  justify-content: center;
  /* 横方向中央揃え */
  align-items: center;
  /* 縦方向中央揃え */

  background: rgba(255, 255, 255, .342);
  /* 背景色 */

  z-index: 9999;
  /* 重なり優先度最高 */
}

/* 表示する文字列 */
.nowloading {
  margin-top: 4rem;
  /* 文字外の余白 (上側) */

  color: black;
  /* 文字色 */
  font-size: 2rem;
  /* 文字サイズ */
  line-height: 1.5rem;
  /* 文字高さ */
}


/*==================================== ボタン ====================================*/
/* ボタンの共通設定 */
.button {
  margin: .5rem;
  /* ボタン外の余白 */
  padding: 0 1.25rem;
  /* ボタン内の余白 */

  background-color: rgb(8, 128, 108);
  /* ボタンの背景色 */
  box-shadow: 0 0 20px rgb(88, 233, 173);
  /* ボタンの影 */

  color: rgba(255, 255, 255);
  /* ボタン内の文字色 */
  font-family: inherit;
  /* ボタン内の文字の見た目 */
  font-size: 1.125rem;
  /* ボタン内の文字サイズ */
  line-height: 2.5rem;
  /* ボタン内の文字高さ */

  border: outset .1rem rgb(227, 225, 235);
  /* ボタンの枠線 */
  border-radius: 1rem;
  /* ボタンの枠線の丸み */

  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  /* 関数的に変化する */
  transition-duration: .6s;
  /* 0.6秒間かけて実行 */
}